/*/PC/*/
	/*/VARIABLES/*/
		html{
			/*/COLOR/*/
				--back-color-1: #000;
				--back-color-2: #222;
				--back-color-3: #333;
				--back-color-4: #444;
				--back-color-5: #111;
				--back-color-6: #777;

				--fore-color-1: #FFF;
				--fore-color-2: #777;
			/*/TIPOGRAFÍA/*/
				--font-1: Corbel;
		}
	/*/PÁGINA/*/
		/*/COLORES/*/
			body{
				background-color: var(--back-color-4);
				color: var(--fore-color-1);
			}
			nav{
				background-color: var(--back-color-1);
			}
			nav .ul{
				background-color: var(--back-color-1);
			}
			nav input[type=text]{
				background-color:  var(--back-color-4);
				color:  var(--fore-color-2);
			}
			nav input[type=submit]{
				background-color:  var(--back-color-4);
			}
			nav #usrList{
				background-color:  var(--back-color-5);
			}
			footer{
				background-color: var(--back-color-1);
			}
			.formBack{
				background-color: var(--back-color-1);
			}
			.articleBack{
				background-color:  var(--back-color-3);
			}
			.textBack{
				background-color:  var(--back-color-2);
			}
			a{
				color: var(--fore-color-1);
			}
		/*/TIPOGRAFÍAS/*/
			/*/TODO/*/
				body{
					font-family: var(--font-1);
				}
				footer{
					text-align: right;
				}
				.formBack{
					text-align: left;
				}
				.textBack{
					text-align: justify;
				}
			/*/NAV/*/
				nav input[type=text]{
					font-size: 20px;
					font-weight: 100;
					text-indent: 20px;
				}
				nav a{
					text-decoration: none;
				}
				nav #usrList{
					font-size: 120%;
					text-align: center;
				}
			/*/INDEX/*/
				#index h2{
					font-size: 35px;
					text-align: left;
				}
				#index article{
					text-align: right;
				}
				#index a{
					text-decoration: none;
					border-bottom: 1px dotted;
				}
				#index li a{
					border-bottom: none;
				}
				#index .juegosPadre{
					font-size: 0;
					text-align: left;
				}
				#index .juegosPadre a{
					text-decoration: none;
					border-bottom: none;
				}
			/*/JUEGOS/*/
				#games th{
					font-size: 25px;
				}
				#games #precio{
					font-size: 18px;
					text-align: center;
				}
			/*/JUEGO/*/
				#game th{
					font-size: 40px;
					text-align: center;
				}
				#game td{
					text-align: justify;
					font-size: 20px;
				}
				#game td#valor{
					text-align: center;
				}
				#game td#extra{
					text-align: center;
				}
				#game #precio{
					font-size: 25px;
					text-align: center;
				}
				#game #tag{
					font-size: 15px;
				}
			/*/CONTACTO/*/
				#contact .formBack{
					text-align: right;
				}
				#contact #titulo{
					font-size: 280%;
					text-align: center;
				}
				#contact #inputs{
					text-align: left;
				}
				#contact input{
					font-size: 120%
				}
				#contact #area textarea{
					font-size: 150%
				}
			/*/LOGIN/*/
				#login .formBack{
					text-align: center;
					font-size: 140%;
				}
				#login #title{
					font-size: 180%
				}
				#login input{
					font-size: 100%;
				}
			/*/SIGNIN/*/
				#signin .formBack{
					text-align: right;
				}
				#signin #titulo{
					font-size: 280%;
					text-align: center;
				}
				#signin .text{
					font-size: 150%;
					text-align: left;
				}
				#signin input{
					font-size: 120%;
				}
			/*/MI PERFIL/*/
				#perfil{
					text-align: justify;
					font-size: 130%;
				}
				#perfil #cambiar{
					text-align: right;
				}
			/*/EDIT/*/
				#edit .formBack{
					text-align: center;
					font-size: 200%;
				}
				#edit input{
					font-size: 60%;
				}
			/*/WISHLIST/*/
				#wish th{
					font-size: 25px;
				}
			/*/CARRITO/*/
				#carrito th{
					font-size: 25px;
				}
				#carrito td#comprar{
					text-align: right;
				}
			/*/MISJUEGOS/*/
				#mygames th{
					font-size: 25px;
				}
		/*/POSISIONAMIENTO/*/
			/*/TODO/*/
				body{
					margin: 0;
				}
				main{
					margin-top: 54px;
					margin-bottom: 30px;
				}
				footer{
					position: fixed;
					bottom: 0px;
					left: 0px;
					margin: 0px;
					z-index: 9999;
				}
				footer span{
					position: relative;
					bottom: -5px;
					right: 10px;
				}
			/*/NAV/*/
				nav{
					position: fixed;
					top: 0px;
					left: 0px;
					margin: 0px;
					z-index: 9999;
				}
				nav #menu{
					z-index: 0;
				}
				nav .leftItem{
					margin: 5px;
				}
				nav #logo{
					margin-left: 6px;
				}
				nav #usuario{
					position: relative;
					float: right;
					margin: 5px;
					margin-right: 5px;
				}
				nav .wrap{
					position: relative;
					float: right;
					top: 4px;
					margin-left: 4px;
					margin-right: 4px;
					padding: 0;
					display: inline-block;
				}
				nav input[type=text]{
					position: relative;
					float: right;
					margin-right: 1px;
					display: inline-block;
					z-index: 4;
					opacity: 0;
					cursor: pointer;
				}
				nav input[type=text]:focus{
					z-index: 2;
					opacity: 1;
					cursor: text;
				}
				nav input[type=submit]{
					position: absolute;
					top: 0px;
					right: 0px;
					display: inline-block;
					z-index: 1;
					cursor: pointer;
				}
				nav li.wrap img{
					position: absolute;
					top: 7px;
					right: 7px;
					z-index: 3;
				}
				nav ul{
					margin: 0;
					padding: 0;
					list-style: none;
				}
				nav .ul{
					position: fixed;
					top: 0;
					left: 0;
					margin: 0;
					padding: 0;
					display: flex;
					justify-content: flex-start;
					z-index: 1;
				}
				nav #usrList{
					padding-bottom: 5px;
					display: none;
					justify-content: flex-start;
					flex-direction: column;
				}
				nav li#usuario:hover #usrList{
					display: flex;
				}
				nav #usrList li{
					margin-top: 5px;
				}
			/*/INDEX/*/
				#index table{
					vertical-align: middle;
					overflow-x: auto;
				}
				#index h2{
					margin-bottom: 30px;
					margin-top: 30px;
					padding-left: 50px;
				}
				#index article{
					margin: 100px;
					padding: 45px;
					padding-top: 20px;
				}
				#index .juegosPadre{
					display: inline-block;
				}
				#index .juegosHijo{
					display: inline-block;
					margin-bottom: 5px;
					margin-right: 5px;
				}
				#index .ver{
					padding-right: 5px;
				}
			/*/JUEGOS/*/
				#games{
					position: relative;
					top: 20px;
				}
				#games table{
					position: relative;
					left: 5px;
					top: 5px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				#games th{
					padding-left: 20px;
					padding-bottom: 10px;
				}
				#games td#img{
					margin: 0px;
					padding: 0px;
					background-repeat: no-repeat;
				}
				#games td#img img, #games #ver img{
					vertical-align: middle;
				}
				#games td.textBack{
					padding: 10px;
				}
				#games article{
					margin: 20px;
					margin-bottom: 47px;
					padding: 10px;
				}
				#games #ver{
					margin: 0;
					padding: 0;
				}
			/*/JUEGO/*/
				#game table{
					margin: 20px;
				}
				#game td#img{
					margin: 0;
					padding: 0;
				}
				#game td#img img{
					vertical-align: middle;
				}
				#game th{
					padding-left: 20px;
					vertical-align: middle;
				}
				#game td#info, #game #tag{
					padding: 10px;	
					vertical-align: middle;
				}
				#game td#valor input[type=submit]{
					margin-left: 10%;
				}
				#game #act{
					padding: 0;
					margin: 0;
					display: flex;
				}
				#game td#act ul{
					margin: 0;
					padding: 0;
					list-style: none;
					display: flex;
					justify-content: flex-start;
					overflow-x: scroll;
				}
				#game #act li.me{
					margin-left: 3px;
				}
				#game #act img{
					vertical-align: middle;
				}
				#game td#extra img{
					margin-right: 10px;
					margin-left: 10%;
					vertical-align: middle;
				}
				#game td#minfo{
					padding: 10px;
					padding-top: 20px;
					padding-bottom: 20px;
				}
				#game article{
					position: relative;
					top: 20px;
					left: 0px;
					margin: 20px;
					margin-bottom: 47px;
					padding: 10px;
				}
				#game #tag{
					vertical-align: top;
				}
			/*/CONTACTO/*/
				#contact .formBack{
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 50px;
				}
				#contact #titulo{
					margin: 0px;
					padding: 0px;
					padding-top: 10px;
				}
				#contact #inputs{
					margin-top: -10px;
				}
				#contact #inputs input{
					margin-right: 7px;
				}
				#contact #area{
					margin-top: -10px;
					margin-bottom: -10px;
					display: flex;
				}
			/*/LOGIN/*/
				#login .formBack{
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 30px;
				}
				#login input[type=email]{
					margin-bottom: 10px;
				}
				#login input[type=password]{
					margin-bottom: 10px;
				}
				#login input[type=submit], #login input[type=button]{
					margin-right: 10px;
				}
			/*/SIGNIN/*/
				#signin .formBack{
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 50px;
					display: inline-block;
				}
				#signin .cont{
					display: flex;
				}
			/*/MI PERFIL/*/
				#perfil article{
					margin: 2.5%;
					margin-top: 6%;
					padding: 2%;
				}
				#perfil td{
					vertical-align: top;
					padding-bottom: 1%;
					padding-top: 1%;
				}
				#perfil td#text{
					padding-left: 3%;
				}
				#perfil td img{
					vertical-align: middle;
				}
				#perfil td#cambiar{
					vertical-align: bottom;
				}
			/*/EDIT/*/
				#edit .formBack{
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 30px;
				}
			/*/WISHLIST/*/
				#wish{
					position: relative;
					top: 20px;
				}
				#wish table{
					position: relative;
					left: 5px;
					top: 5px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				#wish th{
					padding-left: 20px;
					padding-bottom: 10px;
				}
				#wish td#img, #wish #nope{
					margin: 0px;
					padding: 0px;
				}
				#wish td#img img{
					vertical-align: middle;
				}
				#wish td.textBack{
					padding: 10px;
				}
				#wish article{
					margin: 20px;
					margin-bottom: 47px;
					padding: 10px;
				}
			/*/CARRITO/*/
				#carrito{
					position: relative;
					top: 20px;
				}
				#carrito table{
					position: relative;
					left: 5px;
					top: 5px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				#carrito th{
					padding-left: 20px;
					padding-bottom: 10px;
				}
				#carrito td#img, #carrito #nope{
					margin: 0px;
					padding: 0px;
				}
				#carrito td#img img{
					vertical-align: middle;
				}
				#carrito td.textBack{
					padding: 10px;
				}
				#carrito article{
					margin: 20px;
					margin-bottom: 47px;
					padding: 10px;
				}
			/*/MISJUEGOS/*/
				#mygames{
					position: relative;
					top: 20px;
				}
				#mygames table{
					position: relative;
					left: 5px;
					top: 5px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				#mygames th{
					padding-left: 20px;
					padding-bottom: 10px;
				}
				#mygames td#img, #mygames #nope{
					margin: 0px;
					padding: 0px;
				}
				#mygames td#img img{
					vertical-align: middle;
				}
				#mygames td.textBack{
					padding: 10px;
				}
				#mygames article{
					margin: 20px;
					margin-bottom: 3%;
					padding: 10px;
				}
		/*/TAMAÑOS/*/
			/*/TODO/*/
				footer{
					width: 100%;
					height: 4%;
				}
			/*/NAV/*/
				nav{
					width: 100%;
					height: 54px;
				}
				nav .ul{
					width: 100%;
					height: 54px;
				}
				nav .wrap{
					width: 100%;
					height: 8%;
				}
				nav img[alt=Logo]{
					width: 45px;
					height: auto;
				}
				nav input[type=text]{
					width: 45px;
					height: 43px;
					border: none;
					border-radius: 100px;
					outline: none;
				}
				nav input[type=text]:focus{
					width: 100%;
					cursor: text;
				}
				nav input[type=submit]{
					width: 45px;
					height: 45px;
					border: none;
					border-radius: 100px;
					outline: none;
				}
				nav li.wrap img{
					width: 30px;
					height: auto;
				}
				nav #usrList{
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			/*/INDEX/*/
				#index img#banner{
					width: 100%;
					height: auto;
				}
				#index article{
					border-radius: 10px;
				}
				#index .juegosPadre{
					width: 100%;
					height: auto;
				}
				#index .juegosHijo{
					width: 24.6%;
					height: auto;
				}
				#index img{
					width: 100%;
					height: auto;
				}
			/*/JUEGOS/*/
				#games td#img{
					border: 0px;
					width: 280px;
					height: 155px;
				}
				#games article{
					border-radius: 10px;
				}
				#games #precio{
					width: 70px;
				}
				#games #ver{
					width: 100px;
					height: 60px;
					min-height: 60px;
					max-height: 60px;
				}
			/*/JUEGO/*/
				#game table{
					border-collapse: separate;
					border-spacing: 5px;
				}
				#game td#act ul{
					width: 450px;
					height: 60px;
				}
				#game article{
					border-radius: 10px;
				}
			/*/CONTACTO/*/
				#contact .formBack{
					width: 80%;
					height: auto;
					border-radius: 10px;
				}
				#contact input[type=text], input[type=email]{
					width: 25%;
					height: auto;
				}
				#contact textarea{
					width: 100%;
					height: auto;
					resize: none;
				}
			/*/LOGIN/*/
				#login .formBack{
					width: auto;
					height: auto;
					border-radius: 10px;
				}
				#login input[type=email]{
					width: 100%;
					height: auto;
				}
				#login input[type=password]{
					width: 100%;
					height: auto;
				}
			/*/SIGNIN/*/
				#signin .formBack{
					width: 50%;
					height: auto;
					border-radius: 10px;
				}
				#signin .cont{
					width: 100%;
					height: auto;
				}
				#signin .text{
					width: 50%;
				}
				#signin .input{
					width: 49.4%;
				}
				#signin input{
					width: 100%;
				}
				#signin input[type=submit]{
					width: auto;
				}
			/*/MI PERFIL/*/
				#perfil article{
					height: auto;
					border-radius: 10px;
				}
			/*/EDIT/*/
				#edit .formBack{
					width: auto;
					height: auto;
					border-radius: 10px;
				}
				#edit input{
					width: 100%;
				}
				#edit input[type=submit]{
					width: auto;
				}
			/*/WISHLIST/*/
				#wish td#img{
					width: 280px;
					height: 155px;
					border: 0px;
				}
				#wish #nope{
					width: 60px;
					height: 60px;
				}
				#wish article{
					border-radius: 10px;
				}
			/*/CARRITO/*/
				#carrito td#img{
					width: 280px;
					height: 155px;
					border: 0px;
				}
				#carrito #nope{
					width: 60px;
					height: 60px;
				}
				#carrito article{
					border-radius: 10px;
				}
			/*/MISJUEGOS/*/
				#mygames td#img{
					width: 280px;
					height: 155px;
					border: 0px;
				}
				#mygames #nope{
					width: 60px;
					height: 60px;
				}
				#mygames article{
					border-radius: 10px;
				}
		/*/OTROS/*/
			::-webkit-scrollbar{
				display: none;
		}
/*/TABLET/*/
	@media (max-width: 1366px) {
		/*/PÁGINA/*/
			/*/TIPOGRAFÍAS/*/
				/*/JUEGO/*/
					#game th{
						font-size: 40px;
						text-align: center;
					}
					#game td{
						text-align: justify;
						font-size: 20px;
					}
					#game td#valor{
						text-align: center;
					}
					#game td#extra{
						text-align: center;
					}
					#game #precio{
						font-size: 25px;
						text-align: center;
					}
					#game #tag{
						font-size: 15px;
					}
				/*/CONTACTO/*/
					#contact #titulo{
						font-size: 220%;
					}
					#contact input{
						font-size: 90%
					}
					#contact #area textarea{
						font-size: 120%
					}
				/*/MI PERFIL/*/
					#perfil{
						font-size: 125%;
					}
			/*/POSISIONAMIENTO/*/
				/*/NAV/*/
				/*/INDEX/*/
					#index .juegosPadre{
						display: inline-block;
						padding-left: 5px;
					}
			/*/TAMAÑOS/*/
				/*/INDEX/*/
					#index .juegosHijo{
						width: 24.33%;
					}
				/*/CONTACTO/*/
					#contact .formBack{
						width: 60%;
					}
	}
/*/CELULAR/*/
	@media (orientation: portrait) {
		/*/PÁGINA/*/
			/*/COLORES/*/
				nav #usrList{
					background-color: var(--back-color-1);
				}
			/*/TIPOGRAFÍAS/*/
				/*/NAV/*/
					nav input[type=text]{
						font-size: 20px;
						font-weight: 100;
						text-indent: 20px;
					}
					nav a{
						text-decoration: none;
					}
					nav #usrList{
						font-size: 120%;
						text-align: left;
					}
				/*/INDEX/*/
					#index h2{
						font-size: 35px;
						text-align: left;
					}
					#index article{
						text-align: right;
					}
					#index a{
						text-decoration: none;
						border-bottom: 1px dotted;
					}
					#index li a{
						border-bottom: none;
					}
					#index .juegosPadre{
						font-size: 0;
						text-align: left;
					}
					#index .juegosPadre a{
						text-decoration: none;
						border-bottom: none;
					}
				/*/JUEGOS/*/
					#games th{
						font-size: 25px;
					}
					#games #precio{
						font-size: 18px;
						text-align: center;
					}
				/*/JUEGO/*/
					#game th{
						font-size: 40px;
						text-align: center;
					}
					#game td{
						text-align: justify;
						font-size: 20px;
					}
					#game td#valor{
						text-align: center;
					}
					#game td#extra{
						text-align: center;
					}
					#game #precio{
						font-size: 25px;
						text-align: center;
					}
					#game #tag{
						font-size: 15px;
					}
				/*/CONTACTO/*/
					#contact .formBack{
						text-align: right;
					}
					#contact #titulo{
						font-size: 280%;
						text-align: center;
					}
					#contact #inputs{
						text-align: left;
					}
					#contact input{
						font-size: 120%
					}
					#contact #area textarea{
						font-size: 150%
					}
				/*/LOGIN/*/
					#login .formBack{
						text-align: center;
						font-size: 140%;
					}
					#login #title{
						font-size: 180%
					}
					#login input{
						font-size: 100%;
					}
				/*/SIGNIN/*/
					#signin .formBack{
						text-align: right;
					}
					#signin #titulo{
						font-size: 280%;
						text-align: center;
					}
					#signin .text{
						font-size: 150%;
						text-align: left;
					}
					#signin input{
						font-size: 120%;
					}
				/*/MI PERFIL/*/
					#perfil{
						text-align: justify;
						font-size: 130%;
					}
					#perfil #cambiar{
						text-align: right;
					}
				/*/EDIT/*/
					#edit .formBack{
						text-align: center;
						font-size: 200%;
					}
					#edit input{
						font-size: 60%;
					}
				/*/WISHLIST/*/
					#wish th{
						font-size: 25px;
					}
				/*/CARRITO/*/
					#carrito th{
						font-size: 25px;
					}
					#carrito td#comprar{
						text-align: right;
					}
				/*/MISJUEGOS/*/
					#mygames th{
						font-size: 25px;
					}
			/*/POSISIONAMIENTO/*/
				/*/NAV/*/
					nav .wrap{
						margin-bottom: 10px;
						display: inline-block;
					}
					nav input[type=text]{
						float: left;
						display: inline-block;
						opacity: 1;
						z-index: 2;
						cursor: text;
					}
					nav input[type=submit]{
						display: none;
					}
					nav #menu{
						margin: 5px;
						display: inline-block;
					}
					nav .ul{
						display: none;
					}
					nav #menu:hover .ul{
						margin-top: 54px;
						margin-left: -5px;
						position: fixed;
						padding: 10px;
						padding-right: 15px;
						list-style: none;
						display: flex;
						justify-content: flex-start;
						flex-direction: column;
					}
					nav #usrList{
						display: flex;
						padding-left: 20px;
					}
					#usrList li{
						margin-top: 5px;
					}
				/*/INDEX/*/
					#index table{
						vertical-align: middle;
						overflow-x: auto;
					}
					#index h2{
						margin-bottom: 30px;
						margin-top: 30px;
						padding-left: 50px;
					}
					#index article{
						margin: 100px;
						padding: 45px;
						padding-top: 20px;
					}
					#index .juegosPadre{
						display: inline-block;
					}
					#index .juegosHijo{
						display: inline-block;
						margin-bottom: 5px;
						margin-right: 5px;
					}
					#index .ver{
						padding-right: 5px;
					}
				/*/JUEGOS/*/
					#games{
						position: relative;
						top: 20px;
					}
					#games table{
						position: relative;
						left: 5px;
						top: 5px;
						margin-right: 10px;
						margin-bottom: 10px;
					}
					#games th{
						padding-left: 20px;
						padding-bottom: 10px;
					}
					#games td#img{
						margin: 0px;
						padding: 0px;
						background-repeat: no-repeat;
					}
					#games td#img img, #games #ver img{
						vertical-align: middle;
					}
					#games td.textBack{
						padding: 10px;
					}
					#games article{
						margin: 20px;
						margin-bottom: 47px;
						padding: 10px;
					}
					#games #ver{
						margin: 0;
						padding: 0;
					}
				/*/JUEGO/*/
					#game table{
						margin: 20px;
					}
					#game td#img{
						margin: 0;
						padding: 0;
					}
					#game td#img img{
						vertical-align: middle;
					}
					#game th{
						padding-left: 20px;
						vertical-align: middle;
					}
					#game td#info, #game #tag{
						padding: 10px;	
						vertical-align: middle;
					}
					#game td#valor input[type=submit]{
						margin-left: 10%;
					}
					#game #act{
						padding: 0;
						margin: 0;
						display: flex;
					}
					#game td#act ul{
						margin: 0;
						padding: 0;
						list-style: none;
						display: flex;
						justify-content: flex-start;
						overflow-x: scroll;
					}
					#game #act li.me{
						margin-left: 3px;
					}
					#game #act img{
						vertical-align: middle;
					}
					#game td#extra img{
						margin-right: 10px;
						margin-left: 10%;
						vertical-align: middle;
					}
					#game td#minfo{
						padding: 10px;
						padding-top: 20px;
						padding-bottom: 20px;
					}
					#game article{
						position: relative;
						top: 20px;
						left: 0px;
						margin: 20px;
						margin-bottom: 47px;
						padding: 10px;
					}
					#game #tag{
						vertical-align: top;
					}
				/*/CONTACTO/*/
					#contact .formBack{
						position: fixed;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						padding: 50px;
					}
					#contact #titulo{
						margin: 0px;
						padding: 0px;
						padding-top: 10px;
					}
					#contact #inputs{
						margin-top: -10px;
					}
					#contact #inputs input{
						margin-right: 7px;
					}
					#contact #area{
						margin-top: -10px;
						margin-bottom: -10px;
						display: flex;
					}
				/*/LOGIN/*/
					#login .formBack{
						position: fixed;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						padding: 30px;
					}
					#login input[type=email]{
						margin-bottom: 10px;
					}
					#login input[type=password]{
						margin-bottom: 10px;
					}
					#login input[type=submit], #login input[type=button]{
						margin-right: 10px;
					}
				/*/SIGNIN/*/
					#signin .formBack{
						position: fixed;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						padding: 50px;
						display: inline-block;
					}
					#signin .cont{
						display: flex;
					}
				/*/MI PERFIL/*/
					#perfil article{
						margin: 2.5%;
						margin-top: 6%;
						padding: 2%;
					}
					#perfil td{
						vertical-align: top;
						padding-bottom: 1%;
						padding-top: 1%;
					}
					#perfil td#text{
						padding-left: 3%;
					}
					#perfil td img{
						vertical-align: middle;
					}
					#perfil td#cambiar{
						vertical-align: bottom;
					}
				/*/EDIT/*/
					#edit .formBack{
						position: fixed;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						padding: 30px;
					}
				/*/WISHLIST/*/
					#wish{
						position: relative;
						top: 20px;
					}
					#wish table{
						position: relative;
						left: 5px;
						top: 5px;
						margin-right: 10px;
						margin-bottom: 10px;
					}
					#wish th{
						padding-left: 20px;
						padding-bottom: 10px;
					}
					#wish td#img, #wish #nope{
						margin: 0px;
						padding: 0px;
					}
					#wish td#img img{
						vertical-align: middle;
					}
					#wish td.textBack{
						padding: 10px;
					}
					#wish article{
						margin: 20px;
						margin-bottom: 47px;
						padding: 10px;
					}
				/*/CARRITO/*/
					#carrito{
						position: relative;
						top: 20px;
					}
					#carrito table{
						position: relative;
						left: 5px;
						top: 5px;
						margin-right: 10px;
						margin-bottom: 10px;
					}
					#carrito th{
						padding-left: 20px;
						padding-bottom: 10px;
					}
					#carrito td#img, #carrito #nope{
						margin: 0px;
						padding: 0px;
					}
					#carrito td#img img{
						vertical-align: middle;
					}
					#carrito td.textBack{
						padding: 10px;
					}
					#carrito article{
						margin: 20px;
						margin-bottom: 47px;
						padding: 10px;
					}
				/*/MISJUEGOS/*/
					#mygames{
						position: relative;
						top: 20px;
					}
					#mygames table{
						position: relative;
						left: 5px;
						top: 5px;
						margin-right: 10px;
						margin-bottom: 10px;
					}
					#mygames th{
						padding-left: 20px;
						padding-bottom: 10px;
					}
					#mygames td#img, #mygames #nope{
						margin: 0px;
						padding: 0px;
					}
					#mygames td#img img{
						vertical-align: middle;
					}
					#mygames td.textBack{
						padding: 10px;
					}
					#mygames article{
						margin: 20px;
						margin-bottom: 3%;
						padding: 10px;
					}
			/*/TAMAÑOS/*/
				/*/NAV/*/
					nav .wrap{
						width: 100%;
						height: 8%;
					}
					nav input[type=text]{
						width: 100%;
						cursor: text;
					}
					nav li.wrap img{
						width: 30px;
						height: auto;
					}
					nav #usrList{
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
					nav .ul{
						width: auto;
						height: 100%;
					}
				/*/INDEX/*/
					#index img#banner{
						width: 100%;
						height: auto;
					}
					#index article{
						border-radius: 10px;
					}
					#index .juegosPadre{
						width: 100%;
						height: auto;
					}
					#index .juegosHijo{
						width: 24.6%;
						height: auto;
					}
					#index img{
						width: 100%;
						height: auto;
					}
				/*/JUEGOS/*/
					#games td#img{
						border: 0px;
						width: 280px;
						height: 155px;
					}
					#games article{
						border-radius: 10px;
					}
					#games #precio{
						width: 70px;
					}
					#games #ver{
						width: 100px;
						height: 60px;
						min-height: 60px;
						max-height: 60px;
					}
				/*/JUEGO/*/
					#game table{
						border-collapse: separate;
						border-spacing: 5px;
					}
					#game td#act ul{
						width: 450px;
						height: 60px;
					}
					#game article{
						border-radius: 10px;
					}
				/*/CONTACTO/*/
					#contact .formBack{
						width: 80%;
						height: auto;
						border-radius: 10px;
					}
					#contact input[type=text], input[type=email]{
						width: 25%;
						height: auto;
					}
					#contact textarea{
						width: 100%;
						height: auto;
						resize: none;
					}
				/*/LOGIN/*/
					#login .formBack{
						width: auto;
						height: auto;
						border-radius: 10px;
					}
					#login input[type=email]{
						width: 100%;
						height: auto;
					}
					#login input[type=password]{
						width: 100%;
						height: auto;
					}
				/*/SIGNIN/*/
					#signin .formBack{
						width: 50%;
						height: auto;
						border-radius: 10px;
					}
					#signin .cont{
						width: 100%;
						height: auto;
					}
					#signin .text{
						width: 50%;
					}
					#signin .input{
						width: 49.4%;
					}
					#signin input{
						width: 100%;
					}
					#signin input[type=submit]{
						width: auto;
					}
				/*/MI PERFIL/*/
					#perfil article{
						height: auto;
						border-radius: 10px;
					}
				/*/EDIT/*/
					#edit .formBack{
						width: auto;
						height: auto;
						border-radius: 10px;
					}
					#edit input{
						width: 100%;
					}
					#edit input[type=submit]{
						width: auto;
					}
				/*/WISHLIST/*/
					#wish td#img{
						width: 280px;
						height: 155px;
						border: 0px;
					}
					#wish #nope{
						width: 60px;
						height: 60px;
					}
					#wish article{
						border-radius: 10px;
					}
				/*/CARRITO/*/
					#carrito td#img{
						width: 280px;
						height: 155px;
						border: 0px;
					}
					#carrito #nope{
						width: 60px;
						height: 60px;
					}
					#carrito article{
						border-radius: 10px;
					}
				/*/MISJUEGOS/*/
					#mygames td#img{
						width: 280px;
						height: 155px;
						border: 0px;
					}
					#mygames #nope{
						width: 60px;
						height: 60px;
					}
					#mygames article{
						border-radius: 10px;
					}
	}